<section class='hero'>
	<div class='title'>
		<h1 class='header'>Proving Grounds</h1>
		<p class='powered'>
			Powered by
			<a href='http://wooter.co' target='_blank'>
				<img alt='Wooter Logo White' src='/assets/wooter.png' style='height: 20px;'>
			</a>
		</p>
	</div>
	<h3 class='subHeader'>Watch Free Sports Guides and Tutorials.</h3>
	<div class='s-input'>
		<%= form_tag videos_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search], :class => 'p-input' %>
			<%= submit_tag ">", :class => 'b-input' %>
		</p>
		<% end %>
	</div>
</section>