<section class='hero'>
	<div class='title'>
		<h1 class='header'>Proving Grounds</h1>
		<p class='powered'>
			Powered by
			<a href='http://wooter.co' target='_blank'>
				<img alt='Wooter Logo White' src='/assets/wooter.png' style='height: 20px;'>
			</a>
		</p>
	</div>

	<h3 class='subHeader'>Watch Free Sports Guides and Tutorials.</h3>
	<div class='s-input'>
		<%= form_tag videos_path, :method => 'get' do %>
			<p>
				<%= text_field_tag :search, params[:search], :class => 'p-input' %>
				<%= submit_tag ">", :class => 'b-input' %>
			</p>
		<% end %>
	</div>
</section>

<style type='text/css'>
	/*.new_body {
		width: 100%;
	}

	.filter_menu {
		background-image: url('assets/shares.png');
		background-size: cover;
		height: 100vh;
		padding: 0px;
	}

	.filter_menu, .filter_results {
		display: table-cell;
	}

	.chosen_sport {
		text-align: left;
		padding-left: 15px;
		color: rgba(0, 0, 0, 0.3);
		font-size: 1.5vw;
	}

	.smaller_type {
		font-size: 50%;
		color: rgba(0, 0, 0, 0.3);
	}

	.techniques {
		padding: 0xp;
		color: rgba(0, 0, 0, 0.3);
	}

	.types {
		width: 100%;
		text-align: center;
		color: rgba(0, 0, 0, 0.87);
		background-color: transparent;
		font-size: 1.25vw;
		padding: 2vh 0px;
	}

	.types:hover {
		background-color: #f96d0c;
		color: white;
	}

	.types > a:hover {
		background-color: #f96d0c;
		color: white;
		text-decoration: none;
	}*/

	
</style>