// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//general and tags
body{
	//font-family: Roboto
}
h1{
	font-size: 48px;
	margin: 0 0 20px 0;
}
h3{
	font-size: 24px;
	margin: 0 0 20px 0;
}
p{
	font-size: 16px;
	margin: 0 0 20px 0;
	line-height: 1.5;
}
.clear{
	clear:both;
}

//navigation

.navigation{
	height: 5vw;
	padding: 1vw;
	font-size: 2vw;
	color: white;
	position: absolute;
	background: transparent;
	width:100%;
}
.request{
	position: relative;
	top:-10px;
	left:0;
	width: 85%;
	float: left;
}

.request_details{
	font-size: 16px;
	color:white!important;
}

.login{
	position: relative;
	width: 15%;
	top: 0;
	right: 0;
	float:right;
}
.login_sub{
	width: 50%;
	text-align: center;
	float: left;
}

.ls_plus{
	width: 100%!important;
	text-align: right;
	float:right;
}

.request_details:hover,
.request_details:focus,
.request_details:visited,
.powered > a,
.powered > a:hover,
.powered > a:focus,
.powered > a:visited,
.login_sub > p > a,
.login_sub > p > a:hover,
.login_sub > p > a:focus,
.login_sub > p > a:visited{
	color: white;
	text-decoration: none;
	background-color: transparent;
}



//hero image section
.hero{
	background-image: url('hero_image.png');
	height: 42vw;
	min-height: 50vh;
	background-size: cover;
	background-position: 100% 100%;
	width:100%;
}

.title{
	width:39vw;
	margin: 0 auto;
	padding: 10vw 0 8vw;

}

.header, .powered{
	color:white;
	margin: 0 auto 1vw auto;
}

.header{
	font-size: 6vw;
	text-align: center;
	float:left;
	width:100%;
	font-family: 'Oswald' , sans-serif;
}

.powered{
	font-size: 1vw;
	text-align: right;
	width:100%;
	float: right;
}

.subheader{
	width: 50%;
	color: white;
	font-size: 2vw;
	text-align: center;
	margin: 0 auto 2vw auto;
}

.s-input{
	width: 36%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.4);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.4);	
}

.p-input{
	width:90%;
	float: left;
	border:none;
	height: 3vw;
	font-size: 1.25vw;
	padding-left: 1vw;
	border-bottom-left-radius: .2vw;
	border-top-left-radius: .2vw;
}

.b-input{
	border: none;
	background-color: white;
	width: 10%;
	height: 3vw;
	font-size: 1.5vw;
	color: rgba(0,0,0,.35);
	border-bottom-right-radius: .2vw;
	border-top-right-radius: .2vw;
}


